* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    font-family: roboto;
    font-size: 16px;
}

nav {
    background: white;
    position: sticky;
    top: 0;
    padding: 1.1em 0.4em;

}

a {
    color: black;
    text-decoration: none;
}


nav ul {
    list-style-type: none;

    flex-wrap: wrap;
    background: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    width: auto;
    margin: ;
    text-align: center;


}

h2 {
    font-size: 30px;
    font-family: roboto;
    font-weight: 400;
    padding: 10px 0px 0px 0px;
    
}

h3 {
    text-align: center;
    font-size: 25px;
    margin: 10px;

}

p {
    text-align: center;
    font-size: 17px;
    padding-bottom: 15px;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    padding: 0.25em .75em 0.5em 3.00em;
    align-content: center;
}

.item {
    padding: 0.25em 0.75em;
}

.item3 {
    padding: 0.25em 0.75em;
}



.ref1 {
    height: auto;
    width: 100%;
}

.hpk {
    text-align: center;
    list-style-type: none;
    padding: 20px;


}

li.hpk {
    margin: 100px;
}

img.hpf1 {
    align-content: center;
    margin: 20px;
    height: 90%;
    width: 90%;
}


.slides {
    display: flex;
    padding: 3%;

    overflow-x: auto;

}

.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.slides div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 200px;
    height: 270px;
    margin-right: 15px;

    border-radius: 10px;
    background: white;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
}

.slides img {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}
